<footer class="footer">
  <div class="footer-left">
    <img src="logo.png" alt="Company Logo" class="footer-logo" />
    <span class="Owner-name">Sujit Das</span>
    <span class="Owner-no">+91 98312-19996</span>
  </div>

  <div class="footer-center">
    <p class="footer-text">All India Hotel & Holiday Home Booking</p>
  </div>

  <div class="footer-right">
    <a href="https://wa.me/919831219996" target="_blank" class="social-icon" aria-label="WhatsApp">
      <img src="wp.svg" alt="WhatsApp" />
    </a>
    <a href="https://www.facebook.com/profile.php?id=100010069599230" target="_blank" class="social-icon" aria-label="Facebook">
      <img src="fb.svg" alt="Facebook" />
    </a>
    <!--a href="mailto:dasfamily2k23@gmail.com" class="social-icon" aria-label="Gmail">
      <img src="gmail.svg" alt="Gmail" />
  </a-->
  </div>
</footer>
