<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Hotel Gallery</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/darjeeling" routerLinkActive="active" class="nav-link">Darjeeling</a>
        </li>
        <li class="nav-item">
          <a routerLink="/puri" routerLinkActive="active" class="nav-link">Puri</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
